
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="{{ site.github.url }}/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/ie8.css"/><![endif]-->
</head>
<body>
<div id="page-wrapper">
    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="http://github.com"><img src="{{ site.github.url }}/images/GitHub-Mark-Light-32px.png"/></a>&nbsp;&nbsp;<a
                href="{{ site.github.url }}/index.html">DeepCore SDK</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li><a href="{{ site.github.url }}/index.html#one">Overview</a></li>
                        <li><a href="{{ site.github.url }}/index.html#two">DeepCore API</a></li>
                        <li><a href="{{ site.github.url }}/deepcore.html">DeepCore Architecture</a></li>
                        <li><a href="{{ site.github.url }}/index.html#three">GBDXM Tool</a></li>
                        <li><a href="{{ site.github.url }}/index.html#four">OpenSpaceNet</a></li>
                        <li><a href="{{ site.github.url }}/index.html#five">Downloads</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.github.url }}/blog.html">Blog</a> </li>
                <li>
                    <a href="#">Documentation</a>
                    <ul>
                        <li><a href="https://s3.amazonaws.com/deepcore/Documentation/index.html">DeepCore API</a></li>
                        <li><a href="https://github.com/DigitalGlobe/OpenSpaceNet">OpenSpaceNet</a></li>
                        <li><a href="https://github.com/DigitalGlobe/gbdxm">GBDXM</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Sample Data</a>
                    <ul>
                        <li><a href="https://s3.amazonaws.com/deepcore/model/airplane.gbdxm">Sample Model</a></li>
                        <li><a href="https://s3.amazonaws.com/deepcore/images/atlanta_airport_R1C1.tif">Sample Image</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#dc-contact">Contact</a></li>
                <li><a href="https://github.com/DigitalGlobe/DeepCore/issues">Issues</a></li>
                <!--							<li><a href="blog.html">Blog</a></li>-->
                <!--<li><a href="#" class="button special">Sign Up</a></li>-->
            </ul>
        </nav>
    </header>
    {{content}}

    <!-- six -->
    <section id="dc-contact" class="wrapper style2 special fade">
        <div class="container">
            <header>
                <h2>Contact the DeepCore team!</h2>
                <p>Questions, comments, or requests? Contact <a href="mailto:deepcore-support@digitalglobe.com">the
                    DeepCore team</a> for more information!</p>
            </header>

        </div>
    </section>

    <footer id="footer">
        <ul class="icons">
            <li><a href="https://twitter.com/DigitalGlobe" class="icon alt fa-twitter"><span
                    class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/DigitalGlobeInc/" class="icon alt fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li><a href="https://www.linkedin.com/company-beta/7511/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a>
            </li>
            <li><a href="https://www.instagram.com/digitalglobe/" class="icon alt fa-instagram"><span class="label">Instagram</span></a>
            </li>
            <li><a href="https://github.com/DigitalGlobe/DeepCore" class="icon alt fa-github"><span
                    class="label">GitHub</span></a></li>
            <li><a href="mailto:deepcore-support@digitalglobe.com" class="icon alt fa-envelope"><span class="label">Email</span></a>
            </li>
            <li><a href="https://github.com/DigitalGlobe/DeepCore/issues" class="icon alt fa-question"><span
                    class="label">Issues</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; DigitalGlobe. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
</div>
<!-- Scripts -->
<script src="{{ site.github.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.github.url }}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{ site.github.url }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.github.url }}/assets/js/skel.min.js"></script>
<script src="{{ site.github.url }}/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="{{ site.github.url }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.github.url }}/assets/js/main.js"></script>
</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-85773269-1', 'auto');
    ga('send', 'pageview');

</script>
</html>